<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="UTF-8">
    <title>EVENTO</title>
</head>
<body>
<h1>Evento</h1>
<a class="waves-effect waves-light btn" href="/listarEventos"><i class="material-icons left">list</i>Lista de Eventos</a>

<table class="container">
    <th>Código</th>
    <th>Nome</th>
    <th>Local</th>
    <th>Data</th>
    <th>Horário</th>
    <tbody>
        <tr>
            <td th:text="${evento.codigo}">link</td>
            <td th:text="${evento.nome}"></td>
            <td th:text="${evento.local}"></td>
            <td th:text="${evento.data}"></td>
            <td th:text="${evento.horario}"></td>
        </tr>

    </tbody>
</table>

<th:block th:include="mensagemValidacao"></th:block>

<h2>Convidados</h2>
<form method="post" class="container">
    <div class="row">
        <div class="input-field col s12">
            Nome: <input type="text" value="" name="nomeConvidado">
        </div>
        <div class="input-field col s12">
            RG: <input type="text" value="" name="rg">
        </div>
    </div>

    <button type="submit" class="waves-effect waves-light btn">Adicionar</button>

</form>
<table class="container">
    <th>Nome</th>
    <th>Rg</th>
    <tbody th:each="convidado : ${convidadoList}">

    <tr>
        <td><span th:text="${convidado.nomeConvidado}"></span></td>
        <td><span th:text="${convidado.rg}"></span></td>
    </tr>

    </tbody>
</table>


<script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
</body>
</html>